<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor = "let listMemes of memeList.memes | slice:0:5">
    <img (click)="moveEditPage(listMemes.url)" [src]="listMemes.url">
    <ion-card-content>
      <ion-card-title>
        {{listMemes.name}}
        </ion-card-title>
    </ion-card-content>
  </ion-card>
</ion-content>
