<!--
  Generated template for the EditMemePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>editMeme</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <img [src]="imgMeme_url"/>
  </ion-card>

  <ion-item>
      <ion-label floating >Text</ion-label>
      <ion-input type="text" [(ngModel)]="textMeme"></ion-input>
  </ion-item>

  <button ion-button (click)="sendText()">Send your text</button>

  <div *ngFor = "let texts of textForMemes">
    <p ngDraggable>{{texts}}</p>
  </div>
</ion-content>
